<!--sidenav and toolbar with content-->
<md-sidenav-container fullscreen>

    <!--sidenav starts here..-->
    <md-sidenav #sidenav mode="over" opened="false">

        <!--sidenav toobar-->
        <md-toolbar color="primary" class="toolbar">
            <b>Samarthya</b>
        </md-toolbar>

        <!--sidenav ites list-->
        <md-nav-list>
          
            <md-list-item *ngFor="let navItem of navList" routerLink={{navItem.path}} routerLinkActive="active" (click)="sidenav.toggle()">
                 <i class="material-icons">{{navItem.icon}}</i>  
                <p class="navItem"> {{navItem.name}}</p>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>
    <!--sidenav ends-->

    <!--main appbar starts-->
    <md-toolbar color="primary" class="toolbar">

        <!--sidebar toggle button-->
        <button md-icon-button (click)="sidenav.toggle()" #myButton id="sidebarButton">
                <i class="material-icons">menu</i>
            </button>
        <span><b>Samarthya Placement Portal</b></span>

        <span class="fill-remaining-space"></span>

        <!--appbar buttons-->
        <span>
            <!--notification button-->
            <button md-icon-button [mdMenuTriggerFor]="menuNotification">
                 <i class="material-icons">notifications_active</i>  
            </button>
            <md-menu #menuNotification x-position="before">
               <md-list>
                    <md-list-item>
                        <p md-line>No new Notification</p>
                    </md-list-item>
                </md-list>
            </md-menu>

            <!--user account button-->
            <button md-icon-button [mdMenuTriggerFor]="menuAccount">
                <i class="material-icons">account_circle</i>  
            </button>
            <md-menu class="menu" #menuAccount x-position="before">
                <md-nav-list>
                    <md-list-item>
    
                        <p md-line><b>User</b></p>
                    </md-list-item>
                   
                    <md-list-item>
                         <i class="material-icons">face</i> 
                        <p>Profile</p>
                    </md-list-item>
                    <md-list-item>
                        <i class="material-icons">lock</i> 
                        <p >Change Password</p>
                    </md-list-item>
                    <md-list-item (click)="logoutUser()" routerLinkActive="active">
                        <i class="material-icons">power_settings_new</i> 
                        <p>Log Out</p>
                    </md-list-item>
                </md-nav-list>
            </md-menu>
        </span>
    </md-toolbar>
    <div class="langBar" fxFlex fxHide.xs>
    <button *ngFor="let lang of languages" title={{lang.name}} class="langBtn" md-button>
   <div> {{lang.nativeName}}</div>
    </button>
</div>
    <!--main appbar starts-->

    <!--main ceiontent goes here-->
 
                <!--routing outlet-->
                <router-outlet></router-outlet>
     

    <!--add the components tags here....-->

    <!--main content ends here-->
</md-sidenav-container>
<!--sidenav and toolbar with content ends-->

