/*Theme Files for material design*/

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/

.myFont {
    font-family: 'Noto Serif', serif;
}
body{
    margin: 0px;
}

/*userIcon and notification menus*/
.mat-menu-panel{
   
   top: 40px;
    right: 10px;
    position: absolute;
    
}